// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
logo_height = 30px

html
  font-size: 65%
body
  background-color: #f5f5f5
a
  display: block

h1,h2,h3,h4,h5,h6
  margin: 0

.project
  font-size: 1.5rem
  padding: 15px
  &__header
    margin-bottom: 40px
    position: relative
    .back-btn, .project__edit
      position: absolute
      top: 0
    .project__edit
      font-size: 1.5em
      right: -20px
      padding: 0
      border: none
      line-height: 1
    .back-btn
      font-size: 2em
      left: -0.5em
      top: -1em
  &--grid
    display: flex;
    align-items: center
    flex-flow: column nowrap
    align-items: center
    background-color: #fff
    padding-top: 20px
    padding-bottom: 20px
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
    .project__logo
      padding: 0 10px
      text-align: center
      width: 90%
      margin-bottom: 25px
      height: logo_height
  &__title
    // display inline-block
    .project__logo
      max-width: 50%
    color: #666
    padding: 0 10px;
    text-align: center
    font-size: 1.5em
    font-weight: normal
  &__section
    background-color: #fff
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
    padding: 20px
  img.project__logo
    padding: 0
  &__logo
    padding: 0 10px
    img
      max-width: 100%
      max-height: 100%
  &__section-wrapper + &__section-wrapper
    margin-top: 30px

.section
  &__content-wrapper
    margin-top: 20px
  &__title
    font-size: 1.5rem
  &__content
    display: flex
    align-items: center

.projects-list
  margin-top: 40px

header
  margin-bottom: 20px
  nav
    background-color: #be1e2d;

.form-search
  width: 100%
  display: block
.form-inline .form-control
  width: 100%;

.login-form, .loading
  padding: 20px
  margin: 30vh auto 0
  text-align: center

.login-form
  .login-btn
    font-size: 3em
    cursor: pointer
  .help-message
    margin-top: 15px
    font-size: 2em

.loading
  > span 
    font-size: 2em
  .robusta-svg
    fill: transparent
  .robusta-svg-path
    stroke-dasharray: 190
    stroke-dashoffset: 0
    animation: dash 4s linear alternate infinite

@keyframes dash
  0%
    stroke-dashoffset: 190
  10%
    stroke-dashoffset: 190
  90%
    stroke-dashoffset: 0
  100%
    stroke-dashoffset: 0

@media (min-width: 576px)
  .project
    margin: 0
    &__section-wrapper
      padding: 15px
      + .project__section-wrapper
        margin-top: 0
        margin-left: 0
  .login-form, .loading
    max-width: 50%
