html {
  font-size: 65%;
}
body {
  background-color: #f5f5f5;
}
a {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.project {
  font-size: 1.5rem;
  padding: 15px;
}
.project__header {
  margin-bottom: 40px;
  position: relative;
}
.project__header .back-btn,
.project__header .project__edit {
  position: absolute;
  top: 0;
}
.project__header .project__edit {
  font-size: 1.5em;
  right: -20px;
  padding: 0;
  border: none;
  line-height: 1;
}
.project__header .back-btn {
  font-size: 2em;
  left: -0.5em;
  top: -1em;
}
.project--grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
          box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.project--grid .project__logo {
  padding: 0 10px;
  text-align: center;
  width: 90%;
  margin-bottom: 25px;
  height: 30px;
}
.project__title {
  color: #666;
  padding: 0 10px;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}
.project__title .project__logo {
  max-width: 50%;
}
.project__section {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.08);
          box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  padding: 20px;
}
.project img.project__logo {
  padding: 0;
}
.project__logo {
  padding: 0 10px;
}
.project__logo img {
  max-width: 100%;
  max-height: 100%;
}
.project__section-wrapper + .project__section-wrapper {
  margin-top: 30px;
}
.section__content-wrapper {
  margin-top: 20px;
}
.section__title {
  font-size: 1.5rem;
}
.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects-list {
  margin-top: 40px;
}
header {
  margin-bottom: 20px;
}
header nav {
  background-color: #be1e2d;
}
.form-search {
  width: 100%;
  display: block;
}
.form-inline .form-control {
  width: 100%;
}
.login-form,
.loading {
  padding: 20px;
  margin: 30vh auto 0;
  text-align: center;
}
.login-form .login-btn {
  font-size: 3em;
  cursor: pointer;
}
.login-form .help-message {
  margin-top: 15px;
  font-size: 2em;
}
.loading > span {
  font-size: 2em;
}
.loading .robusta-svg {
  fill: transparent;
}
.loading .robusta-svg-path {
  stroke-dasharray: 190;
  stroke-dashoffset: 0;
  -webkit-animation: dash 4s linear alternate infinite;
          animation: dash 4s linear alternate infinite;
}
@media (min-width: 576px) {
  .project {
    margin: 0;
  }
  .project__section-wrapper {
    padding: 15px;
  }
  .project__section-wrapper + .project__section-wrapper {
    margin-top: 0;
    margin-left: 0;
  }
  .login-form,
  .loading {
    max-width: 50%;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 190;
  }
  10% {
    stroke-dashoffset: 190;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 190;
  }
  10% {
    stroke-dashoffset: 190;
  }
  90% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
